name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:   
    - cron: '0 12 * * *'

jobs:
  build:
    name: Run Integration Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.1.1
    - name: Use Node.js 21
      uses: actions/setup-node@v4.0.0
      with:
        node-version: 21
        cache: 'npm'
    - run: npm install      
    - run: npm test

  sonarcloud:
    name: Run SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0  
      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 21 
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2.0.2      
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}